/* General */
* {
	font-family: "Arial";
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	color: #0b3300;
	text-decoration: none;
}

a:hover {
	color: #9bff80;
	text-decoration: none;
}

h1 {
	font-family: "Abel", sans-serif;
}

h4 {
	font-size: 200%;
}

h5, h6 {
	padding: 0;
}

html, body, .container-fluid {
	background-color: #999999;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.survive-content {
	width: inherit;
	height: inherit;
	margin: auto;
}

.tickdisplay {
  position: absolute;
	background-color: #d9d9d9;
}

.game-viewport {
	width: 100%;
	height: 80%;
}

.gameview {
	display: none;
	width: 100%;
	height: 100%;
	background: #d9d9d9;
}

/* Console (GameView 1) */
.mainconsole {
	width: inherit;
	height: 100%;
	margin: auto;
	overflow: hidden;
	background: #d9d9d9;
}

.console-grid {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 3fr 1fr;
}

.line-area {
	width: inherit;
	height: inherit;
	margin: auto;
	overflow: hidden;
}

.console-info {
	background-image: url("/media/info-forest.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.console-exits {
	width: 100%;
	height: 100%;
	list-style-type: none;
}

.cl-area {
	position: relative;
	bottom: 0px;
	width: 100%;
	height: 35px;
	margin: auto;
}

.commandline {
	width: 12em;
	height: inherit;
	margin: auto;
}

.linebox {
	position: absolute;
	bottom: 170px;
	width: 75%;
	height: 30px;
}

.line {
	left: 16px;
	bottom: -25px;
	position: absolute;
	font-family: "Titillium Web";
	font-size: 1.1em;
}

.console-stats {
	width: 100%;
	height: 30%;
	margin: 0;
	padding-top: 65px;
	padding-bottom: 20px;
	list-style-type: none;
}

.console-stats li {
	width: 80px;
	margin: auto;
	margin-bottom: 7px;
}

.stat-icon {
	width: 25px;
	height: 25px;
	margin-left: 20px;
}

.console-exits {
	width: 100%;
	height: 70%;
	margin: 0;
	list-style-type: none;
	padding-top: 16px;
}

.console-exit-dir {
	margin-left: 8px;
}

.console-exit-name {
	margin-left: 20px;
}

/* Inventory (GameView 2) */
.igv-title {
	margin: 0;
	padding-top: 16px;
  padding-left: 10px;
}

.locale-title {
  padding-top: 26px;
}

/* Map (GameView 3) */

/* Info (GameView 4) */

/* Navigation Tabs */
.nav-tabs {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 1px;
	width: 100%;
	height: 20%;
	background-color: #4d4d4d;
}

.nav-tab {
	display: flex;
	align-items: center;
	width: 100%;
	height: 20%;
	background-color: #595959;
	cursor: pointer;
}

.tab-icon {
	margin: auto;
}

.tab-img {
	width: 80px;
	height: 80px;
}